[Unit]
Description=Porter Paas server service

[Service]
User={{ porter_user | d('root') }}
WorkingDirectory={{ porter_user_home | d('/root') }}
ExecStart=porter server start --db postgre --port {{ porter_run_port }}
Restart=always

{% for key, val in (oauth_env|combine(app_env)).items() %}
Environment="{{key}}='{{val}}'"
{% endfor %}

# Hack for https://github.com/porter-dev/porter/issues/1356
Environment="WELCOME_FORM_WEBHOOK='http://getporter.dev'"

[Install]
WantedBy=multi-user.target
